<!doctype html>
<html>
	<head>
		<title>Segment Sandbox & Project Space</title>

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- UIKit 2-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/uikit.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/js/uikit.min.js"></script>
		<!-- UIkit 3-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/css/uikit.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit-icons.min.js"></script>

		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">

		<link rel="stylesheet" href="static/style.css">


		<!-- start Segment -->
		<script type="text/javascript">
			!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
			analytics.load("UvRi8XfjKk9SfkCSFfCwgQBhy70tyGct");
			analytics.page();
			}}();
		</script>
		<!-- end Segment -->

	</head>

	<body>
		<section class="main">
			<div class="header uk-margin-top uk-text-bold">
				<img src="static/segment.png" alt="Segment Logo" /><br>
				Sandbox & Project Space
			</div>

			<div class="grid-container uk-margin-medium-top">
				<div class="grid-item uk-panel uk-panel-box">
						<h3 class="uk-panel-title"><a href="/countable">Countable Example</a></h3>
						<div class="uk-text-small card-body">
							Segment onboarding -- React app replicating <a href="https://countable.us">Countable.us</a> with Segment tracking implemented. See also: <a>React Native mobile app repo</a>.
						</div>
						<div class="uk-text-meta card-footer">
							React, React Native
						</div>
				</div>
				<div class="grid-item uk-panel uk-panel-box">
						<h3 class="uk-panel-title"><a href="http://mpcohorts.com">MPCohorts.com</a></h3>
						<div class="uk-text-small card-body">
							(Legacy) self-service tool for creating custom cohorts in Mixpanel. Use a Mixpanel event-triggered notification to send your audiences to a webhook.
						</div>
						<div class="uk-text-meta card-footer">
							Flask, Webhooks, Mixpanel Profile API
						</div>
				</div>
				<!-- <div class="grid-item uk-panel uk-panel-box">
						<h3 class="uk-panel-title"><a href="/countable.html">Coming soon.</a></h3>
						Body text here.
				</div> -->
				
			</div>
			

			<div class="uk-margin-medium-top">
				<a class="uk-button uk-button-primary" href="https://segment.com">
				Go to Segment.com
				</a>
				<button class="uk-button uk-button-danger" id="event-sender" onclick="UIkit.notification({
						message: 'Event sent to Segment!', 
						status: 'success',
						pos: 'top-right',
						timeout: 1000})">
					Send an event
				</button>
				
				<button class="uk-button uk-button-default uk-animation-fade" disabled>
					Do nothing
				</button>


				<form class='uk-form-width-small main'>
					<label class="uk-form-label">Select your identity:</label>
					<select class="uk-select" id="idselect">
						<option>Diggory</option>
						<option>Ricky</option>
						<option>Prakash</option>
					</select>
				</form>
			</div>
		
		</section>

		<div id="footer" style="position: absolute; bottom: 15; margin: auto; width: 100%; text-align: center;">
			Diggory Rycroft | diggory@segment.com
		</div>

		<script type="text/javascript">
			$( document ).ready(function(){
				$("#event-sender").click(function(){
					analytics.track("Tap Button", {"Button ID": $(this)[0].id});
				})

				$("#idselect").change(function(){
					var idString = $(this)[0].value;
					analytics.identify(idString);
					console.log("Identified as "+idString+".");
				})
			})
			

		</script>

	</body>


</html>